@{
    ViewBag.Title = "Home Page";
}
<div>
    <h1>Basketball</h1>
</div>
<div class="col-sm-12">
    <div class="row">
        <h3>Games</h3>
        <table class="col-sm-12" style="border: 1px black solid;">
            <tr>
                <td><strong>Yesterday's scores</strong></td>
                <td><strong>Today's games</strong></td>
                <td><strong>Tomorrow's games</strong></td>
            </tr>
            <tr>
                <td>Team 1 - Team 2 55:66</td>
                <td>Team 3 at Team 4</td>
                <td>Team 5 at Team 6</td>
            </tr>
            <tr>
                <td>Team 1 - Team 2 55:66</td>
                <td>Team 3 at Team 4</td>
                <td>Team 5 at Team 6</td>
            </tr>
            <tr>
                <td>Team 1 - Team 2 55:66</td>
                <td>Team 3 at Team 4</td>
                <td>Team 5 at Team 6</td>
            </tr>
            <tr>
                <td><a href="">View more scores</a></td>
                <td><a href="">View today's games</a></td>
                <td><a href="">View tomorrow's games</a></td>
            </tr>
        </table>
    </div>
    <div class="row">
        <div class="col-sm-6" style="border-width: 0px 1px 1px 1px; border-style: solid">
            <h3>Countries</h3>
            <div class="col-sm-12">
                <div class="col-sm-6">
                    Search
                    <input />
                </div>
                <div class="col-sm-6">
                    Most popular:<br />
                    <a href="">Latvia</a><br />
                    <a href="">Latvia</a><br />
                    <a href="">Latvia</a>
                </div>
                <div class="col-sm-6"></div>
            </div>
        </div>
        <div class="col-sm-6" style="border-width: 0px 1px 1px 0px; border-style: solid">
            <h3>Players</h3>
            <div class="col-sm-12">
                <div class="col-sm-6">
                    Search
                    <input />
                </div>
                <div class="col-sm-6">
                    Most popular:<br />
                    <a href="">Player A</a><br />
                    <a href="">Player B</a><br />
                    <a href="">Player C</a>
                </div>
                <div class="col-sm-6"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12" style="border-width: 1px 1px 1px 1px; border-style: solid">
            <h3>Teams</h3>
            <div class="col-sm-12">
                <div class="col-sm-6">
                    Search
                    <input />
                </div>
                <div class="col-sm-6">
                    Most popular:<br />
                    <a href="">Team A</a><br />
                    <a href="">Team B</a><br />
                    <a href="">Team C</a>
                </div>
                <div class="col-sm-6"></div>
            </div>
        </div>
    </div>
</div>