<h3>Add new Player</h3>

<!--<table width="50%">
    <tr><td width="30%"><label>First Name</label> </td><td><input type="text" name="firstName" /></td></tr>
    <tr><td><label>Last Name</label> </td><td><input type="text" name="lastName" /></td></tr>
    <tr><td><label>Height</label> </td><td><input type="text" name="height" /></td></tr>
    <tr><td><label>Position</label> </td><td><input type="text" name="position" /></td></tr>
    <tr><td><label>Nationality</label> </td><td><input type="text" name="nationality" /></td></tr>
    <tr><td><label>Naturalized nationality</label> </td><td><input type="text" name="naturalizedNationality" /></td></tr>
</table>

<input type="submit" value="Submit" />

<form ng-submit="submitAddPlayerForm()" name="addPlayer">
    <div>
        <label for="email">Customer Name</label>
        <input type="text" ng-model="cust.CustName" name="cname" placeholder="Enter your name" required ng-minlength="4" ng-maxlength="14" />
        <span class="error" ng-show="(addPlayer.$dirty||submitted) && addPlayer.cname.$error.required">Customer name is Required</span>
        <span class="error" ng-show="addPlayer.$dirty && addPlayer.cname.$error.minlength">Minimum length required is 5</span>
        <span class="error" ng-show="addPlayer.$dirty && addPlayer.cname.$error.maxlength">Minimum length required is 15</span>
    </div>
    <div>
        <label for="email">E-mail address</label>
        <input type="email" ng-model="cust.CustEmail" name="email" placeholder="Enter your Email" required />
        <span class="error" ng-show="(addPlayer.$dirty ||submitted) && addPlayer.email.$error.required">EmailId is Required!</span>
        <span class="error" ng-show="(addPlayer.$dirty ||submitted) && addPlayer.$error.email">Invalid EmailId!</span>
    </div>
    <div>
        <input type="submit" value="Submit" ng-disabled="basketball.$invalid">
    </div>
</form>-->